<nav class="category">
    <h3 class="category__heading">Danh mục</h3>

    <ul class="category-list">
        <li class="category-item category-item--active">
            <a href="/" class="category-item__link">Tất cả</a>
        </li>
        <% categories.forEach(function(categoryitem){%>

            <li class="category-item">
                <a href="/category-<%=categoryitem.id%>" class="category-item__link"><%=categoryitem.name%></a>
            </li>
        <%}); %> 
    </ul>
</nav>