<<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Detail Order</title>
	<link rel="stylesheet" href="/truong/detailOrder.css">
</head>
<body>
	<div class="customerInfo">
		<div class="table">
			<div class="row">
				<div class="cell">Name</div>
				<div class="cell">Nguyễn Văn A</div>
			</div>
			<div class="row">
				<div class="cell">Phone number</div>
				<div class="cell">29384792</div>
			</div>
			<div class="row">
				<div class="cell">Point</div>
				<div class="cell">234</div>
			</div>
		</div>
		<div>
			<a href="#">Shopping history</a>
		</div>
	</div>
	<div class="billInfo">
		<div>
			<div>
				<p>Date:</p>
				<p>29/3 - 18:00</p>	
			</div>
			<div>
				<p>Payment:</p>
				<p>Cash</p>
			</div>

		</div>
		<div class="table">
			<div class="row">
				<div class="cell">ID</div>
				<div class="cell">Product name</div>
				<div class="cell">Amount</div>
				<div class="cell">Price</div>
				<div class="cell">Discount</div>
				<div class="cell">Total</div>
			</div>
			<div class="row">
				<div class="cell">4</div>
				<div class="cell">Oranges</div>
				<div class="cell">2</div>
				<div class="cell">10000</div>
				<div class="cell">0%</div>
				<div class="cell">20000</div>
			</div>
		</div>
		<div>
			<p>Total:</p>
			<p>20000 D</p>
		</div>
	</div>
</body>
</html>