<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/truong/staffLogin.css">
</head>
<body>
    <div class="loginForm">
        <form action="/register/user" method="POST">
            <div class="formHeader">
                <h1>Register</h1>
            </div>
            <label for="">Name</label>
            <input type="text" name="name">
            <label for="">Phone</label>
            <input type="text" name="phone">
            <label for="user">Username or phone number:</label>
            <input name="username" id="user" type="text" placeholder="Username">
            <label for="">Password:</label>
            <input name="password" id=password" type="password" placeholder="Password">
            <button type="submit" class="btn">Sign up</button>
        </form>
    </div>
</body>
</html>