<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Refresh</title>
	<link rel="stylesheet" href="/truong/refresh.css">
</head>
<body>
	<div class="main">
		<h2>Phiên của bạn đã hết hạn</h2>
		<a href="/login/staff">Đăng nhập lại</a>
	</div>
</body>
</html>