@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 70px;
    height: 100%;
    background: var(--blue);
    border-left: 1px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 300px;
}

.navigation ul {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li.active,
.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li.active a,
.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0px 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}


/* Curve oustside */

.navigation ul li.active a::before,
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    top: -50px;
    right: 0px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li.active a::after,
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    bottom: -50px;
    right: 0px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}


/* main */

.main {
    position: absolute;
    width: calc(100% - 70px);
    left: 70px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    left: 300px;
    width: calc(100% - 300px);
}

.topbar {
    position: fixed;
    top: 0px;
    z-index: 100;
    background: var(--white);
    width: inherit;
    box-shadow: 0 7px 35px rgba(0, 0, 0, 0.1);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.toggle {
    position: relative;
    top: 0px;
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    margin: 0px 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 1.2em;
}

.user {
    position: relative;
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-width: 40px;
    height: 100%;
    object-fit: cover;
}


/* cardbox */

.cardBox {
    margin-top: 60px;
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}

.cardBox .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
}

.cardBox .card .number {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}

.cardBox .card .cardName {
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}

.cardBox .card .iconBox {
    font-size: 3em;
    color: var(--black2);
}

.cardBox .card:hover {
    background: var(--blue);
}

.cardBox .card:hover .number,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox {
    color: var(--white);
}


/* graph box */

.graphBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    min-height: 200px;
}

.graphBox .box {
    position: relative;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.graphBox .box h2 {
    font-weight: 600;
    color: var(--blue);
}

.graphBox .box p {
    color: var(--black1);
    font-size: 1.1em;
    margin-top: 5px;
}


/* detail */

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
}

.details .recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.1);
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td {
    font-weight: 600;
}

.details .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tr:last-child {
    border-bottom: none;
}

.details .recentOrders table tr td {
    padding: 10px;
}

.details .recentOrders table tr td:last-child {
    text-align: right;
}

.details .recentOrders table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
}

.details .recentOrders table tr td:nth-child(2) {
    text-align: left;
}

.details .recentOrders table tr td:nth-child(3) {
    text-align: center;
}

.status.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.pending {
    padding: 2px 4px;
    background: #f9ca3f;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.return {
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.inprogress {
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.recentCustomers {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: var(--white);
}

.recentCustomers .imgBox {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.recentCustomers .imgBox img {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    object-fit: cover;
}

.recentCustomers table tr:hover {
    background: var(--blue);
    color: var(--white);
}

.recentCustomers table td {
    padding: 12px 10px;
}

.recentCustomers table td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.recentCustomers table td h4 span {
    font-size: 14px;
    color: var(--black2);
}

.recentCustomers table tr:hover td h4 span {
    background: var(--blue);
    color: var(--white);
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    left: calc(50% - 60px);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.card:hover .tooltiptext {
    visibility: visible;
}


/* =================== media query ======================= */

@media (max-width:1075px) {
    .main .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:991px) {
    .graphBox {
        grid-template-columns: 1fr;
        height: auto;
    }
    .navigation {
        left: -300px;
    }
    .navigation.active {
        left: 0px;
        width: 300px;
    }
    .main {
        width: 100%;
        left: 0px;
    }
    .main.active {
        width: calc(100% - 300px);
        left: 300px;
    }
    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
    .main.active .details {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:768px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }
    .navigation {
        width: 200px;
        left: -200px;
    }
    .navigation.active {
        left: 0px;
        width: 200px;
    }
    .main {
        width: 100%;
        left: 0px;
    }
    .main.active {
        width: calc(100% - 200px);
        left: 200px;
    }
    .recentOrders {
        overflow-x: auto;
    }
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }
    .main.active .cardBox {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:512px) {
    .navigation {
        left: -200px;
    }
    .navigation.active {
        left: 0px;
        width: 70px;
    }
    .main {
        width: 100%;
        left: 0px;
    }
    .main.active {
        width: calc(100% - 70px);
        left: 70px;
    }
    .cardBox {
        display: flex;
        flex-direction: column;
    }
}