.notifi {
    position: relative;
    display: flex;
    /*right: 70px;*/
    background: var(--blue);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.notifi .icon {
    position: relative;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

.notifi .icon img{
    position: absolute;
    top: -5px;
    left: 9px;
    width: 20px;
    height: 20px;
}

.icon {
    position: relative;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.icon span {
    background: #f00;
    padding: 7px;
    border-radius: 50%;
    color: #fff;
    vertical-align: top;
    margin-left: -25px;
}

.icon img {
    color: black;
    width: 50%;
    height: 50%;
}

.icon span{
    position: absolute;
    background: red;
    color: white;
    border-radius: 50%;
    top: -15px;
    right: -45px; 
    width: 20px;
    height: 20px;
    padding: 0px;
    font-weight: 500;
}

.icon:hover {
    opacity: .7;
}

.logo {
    flex: 1;
    margin-left: 50px;
    color: #eee;
    font-size: 20px;
    font-family: monospace;
}

.notifi-box {
    background: #fff;
    overflow: scroll;
    width: 500px;
    height: 0px;
    opacity: 0;
    position: absolute;
    top: 63px;
    right: 35px;
    transition: 1s opacity, 250ms height;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notifi-box h2 {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999;
}

.notifi-box h2 span {
    color: #f00;
}

.notifi-item {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 15px 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.notifi-item:hover {
    background-color: #eee;
}

.notifi-item img {
    display: block;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.notifi-item .text h4 {
    color: #777;
    font-size: 16px;
    margin-top: 10px;
}

.notifi-item .text p {
    color: #aaa;
    font-size: 12px;
} 